<div class="img relative"><img src="/img/burger.jpg" alt="burger" class="center" /></div>


<h1 class="title relative">Eat-Da-Burger!</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="todevour">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}

                    <li class="devourchoice">
                        Order #{{id}}: {{burger_name}}

                        <button class="change-devoured btn btn-danger" data-id="{{id}}" data-newdevoured="{{devoured}}">
                            {{#unless devoured}}Devour it!{{/unless}}
                        </button>
                    </li>

                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col-6">
            <div class="devoured text-secondary">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}

                    <li class="yum">
                        Order #{{id}}: {{burger_name}}
                        <button class="delete-burger btn btn-danger" data-id="{{this.id}}">DELETE!</button>
                    </li>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <form class="create-form">

        <div class="form-group mx-auto">
            <input type="text" class="form-control form-control-l" id="bg" name="burger_name"
                placeholder="Enter a burger!">
        </div>

        <div class="form-group mx-auto radio">
            <input type="radio" name="devoured" value="0" checked> Devour later?
            <input type="radio" name="devoured" value="1"> Devour now?
        </div>

        <button type="submit" class="submit btn btn-danger">Add Burger</button>
    </form>
</div>


<script>
    $(".change-devoured").on("click", function (event) {

        let id = $(this).data("id");

        let newDevoured = 1;

        const newDevouredState = {
            devoured: newDevoured
        }

        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newDevouredState
        }).then(
            () => {
                console.log("changed devoured to", newDevoured);
                location.reload();
            }
        )
    });

    $(".create-form").on("submit", event => {
        event.preventDefault();

        const newBurger = {
            burger_name: $("#bg").val().trim(),
            devoured: $("[name=devoured]:checked").val().trim()
        }

        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            () => {
                console.log("created new burger");
                location.reload();
            });
    });

    $(".delete-burger").on("click", function (event) {
        let id = $(this).data("id");

        // Send the DELETE request.
        $.ajax("/api/burgers/" + id, {
            type: "DELETE"
        }).then(
            () => {
                console.log("deleted burger", id);
                location.reload();
            }
        );
    });


</script>