<div class="img relative"><img src="/img/burger.jpg" alt="burger" class="center" /></div>


<h1 class="title relative">Eat-Da-Burger!</h1>

<h2 class="todevour">Burgers to be devoured!</h2>
<div class="todevour">
    <ul>
        {{#each burgers}}
        {{#unless devoured}}

        <li>
            Order #{{id}}: {{burger_name}}

            <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
                {{#unless devoured}}Devour it!!{{/unless}}
            </button>
        </li>

        {{/unless}}
        {{/each}}
    </ul>
</div>

<h2 class="devoured">Burgers that are devoured!</h2>
<div class="devoured">
    <ul>
        {{#each burgers}}
        {{#if devoured}}

        <li>
            Order #{{id}}: {{burger_name}}
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>


<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="bg">Burger Name:</label>
        <input type="text" id="bg" name="burger_name">
    </div>

    <div class="form-group">
        <input type="radio" name="devoured" value="1" checked> Devour later?<br>
        <input type="radio" name="devoured" value="0"> Devour now?
    </div>

    <button type="submit">Add Burger</button>
</form>

<script>
    $(".change-devoured").on("click", function (event) {
        console.log("IS THIS BEING CLICKED?")
        let id = $(this).data("id");
        console.log(id);
        let newDevoured = 1;

        const newDevouredState = {
            devoured: newDevoured
        }

        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newDevouredState
        }).then(
            () => {
                console.log("changed devoured to", newDevoured);
                location.reload();
            }
        )
    });

    $(".create-form").on("submit", event => {
        event.preventDefault();

        const newBurger = {
            burger_name: $("#bg").val().trim(),
            devoured: $("[name=devoured]:checked").val().trim()
        }

        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            () => {
                console.log("created new burger");
                location.reload();
            });
    });


</script>